<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foursquare</title>
    <meta name="description" content="Foursquare te ayuda a encontrar los lugares perfectos para ir con amigos. Descubre lo mejor de la gastronomía, la vida nocturna y el entretenimiento en tu zona.">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png" href="favicon.ico">

    <!-- Vendor -->
    <script src="js/angular.js"></script>
  </head>

  <body ng-app="foursquare" ng-cloak>

    <!-- Main content -->
    <div class="container-fluid" ng-controller="FoursquareController">
      
      <header>
    
          <!-- Logo -->
          <div class="logo col-md-2 col-sm-3 no-gutter">
            <a href="./" title="Foursquare">
              <img src="./img/logo.png" align="Foursquare">
            </a>
          </div>

          <!-- Search form -->
          <div class="search-form col-md-3 col-sm-5">
            <form 
              id="searchForm"
              name="searchForm" 
              ng-submit="searchForm.$valid && searchVenues()" 
              autocomplete="off" 
              novalidate>
            
                <div class="input-group search-group">

                  <!-- Search text -->      
                  <input type="text"
                    class="form-control search-text" 
                    placeholder="I'm looking for a..." 
                    ng-model="query" 
                    autocomplete="off">

                  <!-- Search Action -->
                  <span ng-show="!foursquare.isLoading" 
                    ng-click="searchForm.$valid && searchVenues()"
                    title="Search venue"
                    class="glyphicon glyphicon-search search-action"></span>

                  <!-- Search Loader -->
                  <div ng-show="foursquare.isLoading" 
                    class="signal"></div>

                </div>
            </form>
          </div><!-- End Search form -->

      </header>

      <main>
        <!-- No venues -->
        <div class="row no-venues" ng-show="!foursquare.isLoading && !foursquare.venues.length">
          <div class="col-sm-6">
            <p>
              Mmm... Try:

              <ul>
                <li>Look for something more general (like Food, Coffe or Night style)</li>
                <li>Does It is well written?</li>
              </ul>
            </p>
          </div>
        </div>

        <!-- Content -->
        <div class="content">
          <div class="col-sm-6 vmin">
            <!-- Venue list -->
            <div class="venues">
              <div class="row venue" 
                ng-repeat="venueData in foursquare.venues"
                ng-click="setCurrentVenueData(venueData)"
                ng-class="{'venue-selected': currentVenueData.venue.id === venueData.venue.id}">

                  <div class="col-sm-12">
                    <div class="row no-gutter">
                      <div class="col-xs-2">
                        <a href="#">
                          <img ng-src="{{venueData.venue.featuredPhotos.items[0].prefix}}100x100{{venueData.venue.featuredPhotos.items[0].suffix}}"
                          class="img-responsive featured-image img-circle">
                        </a>
                      </div>

                      <div class="col-xs-10">

                        <!-- Title -->
                        <h3 class="title">
                          <a href="#" 
                            onclick="return false;" 
                            title="{{venueData.venue.name}}">{{venueData.venue.name}}</a>

                          <!-- Rating info -->
                          <label class="rating">
                            <span
                              ng-class="{'glyphicon glyphicon-ok verified': venueData.venue.verified, 'glyphicon glyphicon-ok not-verified': !venueData.venue.verified}"></span>
                            
                            <span class="glyphicon glyphicon-star" 
                              style="color: #{{venueData.venue.ratingColor}}"></span> 
                              {{venueData.venue.rating}}
                          </label>
                        </h3>

                        <!-- Address info -->
                        <p class="address text-muted">
                          <span class="glyphicon glyphicon-map-marker"></span> 
                          {{venueData.venue.location.formattedAddress[0]}}
                          
                          <span class="glyphicon glyphicon-road"></span> 
                          {{venueData.venue.location.distance}} m.
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <!-- Detail view -->
          <div class="col-sm-6 current-venue">

            <!-- No current venue -->
            <div class="no-current-venue" ng-if="!currentVenueData">
              <p>
                Find the best places to eat, drink or visit in any place in the world. Visit more than 75 millions tips of our local experts.
              </p>
            </div>

            <!-- Current venue image -->
            <div ng-if="currentVenueData">
              <div class="image">
                <a href="#" class="">
                  <img ng-src="{{currentVenueData.venue.featuredPhotos.items[0].prefix}}1000x500{{currentVenueData.venue.featuredPhotos.items[0].suffix}}"
                  class="img-responsive">
                </a>
              </div>

              <!-- Current venue header -->
              <div class="header">

                <div class="row">

                  <!-- Venue address & contact info -->
                  <div class="col-sm-10">
                    <!-- Current venue address -->
                    <div class="address text-muted">
                      <span class="glyphicon glyphicon-map-marker"></span> 
                      {{currentVenueData.venue.location.formattedAddress[0]}}
                      
                      <span class="glyphicon glyphicon-road"></span> 
                      {{currentVenueData.venue.location.distance}} m.
                    </div>

                    <!-- Contact info -->
                    <div class="contact text-muted" 
                      ng-show="currentVenueData.venue.contact.formattedPhone">
                        <span class="glyphicon glyphicon-phone-alt"></span> 
                        {{currentVenueData.venue.contact.formattedPhone}}
                    </div>
                    
                    <!-- Vanue rating -->
                    <label class="rating">
                      <span
                        ng-class="{'glyphicon glyphicon-ok verified': currentVenueData.venue.verified, 'glyphicon glyphicon-ok not-verified': !currentVenueData.venue.verified}"></span>
                      
                      <span class="glyphicon glyphicon-star" 
                        style="color: #{{currentVenueData.venue.ratingColor}}"></span> 
                        {{currentVenueData.venue.rating}}
                    </label>

                  </div>


                </div>
              </div>

              <div style="clear:both;"></div>

              <div class="row">
                <div class="col-md-12 summary-and-price">
                  <span class="summary text-muted" 
                    ng-show="currentVenueData.reasons.items[0].summary">
                      {{currentVenueData.reasons.items[0].summary}}  
                  </span> 

                  <span class="price text-muted" 
                    ng-show="currentVenueData.venue.price.message">
                      | Precio {{currentVenueData.venue.price.message}}
                  </span>

                </div>
              </div>

              <!-- Tips info -->
              <div class="row tips">
                <div ng-repeat="tip in currentVenueData.tips" class="tip text-muted col-md-12">
                  <span class="glyphicon glyphicon glyphicon-file"></span> 
                  {{tip.text}}
                </div>
              </div>

              <!-- Categories -->
              <div class="row categories text-muted">
                <div class="col-md-12">
                  <span>Categories:</span>

                  <label class="category" ng-repeat="category in currentVenueData.venue.categories">
                    <a href="{{id}}" title="{{category.name}}">{{category.name}}</a>
                  </label>
                </div>
              </div>

              <!-- Photos -->
              <div class="photos">
                <div class="group-photo" ng-repeat="group in currentVenueData.venue.photos.groups">
                  <h5 class="text-muted">{{group.name}}:</h5>

                  <div class="photo" ng-repeat="photo in group.items">
                    <img ng-src="{{photo.prefix}}100x100{{photo.suffix}}"
                      class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </main>

      <div style="clear:both;"></div>

      <footer>
        <p>Foursquare &copy; 2016 Hecho con amor en NYC y SF</p>
      </footer>
    </div>
  
    <!-- App -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>
